<?xml version='1.0' encoding='utf-8'?>
<widget id="org.siervaspadreyermo.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <name>SSCJP</name>
    <description>
        Aplicación de noticias de las Siervas del Sagrado Corazón de Jesús y de los Pobres
    </description>
    <author email="anijediknight@gmail.com" href="http://github.com/ianibal">
        Israel Anibal Valadez S.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
</widget>
