@charset "utf-8";

/* Reset CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:normal;
	font-style:normal;
	vertical-align:baseline;
	text-shadow: none;
	color:#333333;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-decoration:none;
}
@font-face {
	font-family:RobotoLight;
    src:url(../fonts/Roboto-Light.ttf),
        url(../fonts/Roboto-Light.eot);
}
@font-face {
	font-family:RobotoThin;
    src:url(../fonts/Roboto-Thin.ttf),
    	url(../fonts/Roboto-Thin.eot);
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;               /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:RobotoLight, sans-serif;
    color:#464646;

    li,ol,ul{
		list-style: none;
	}

	div[role="main"]{
		position:absolute;
	    top:55px;
	    z-index:1;
	    width:100%;
	    padding:0;
	    -webkit-overflow-scrolling:touch;
	    overflow:auto;
	}
}
/* MIXINS */
@mixin border_radius($radius: 10px) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin gradient_top_bottom($color_top: #ffffff, $color_bottom: #000000) {
	background: $color_top !important;
	background: -moz-linear-gradient(top, $color_top 0%, $color_bottom 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_top), color-stop(100%,$color_bottom)) !important;
	background: -webkit-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: -o-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: -ms-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: linear-gradient(to bottom, $color_top 0%,$color_bottom 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_top, endColorstr=$color_bottom,GradientType=0 ) !important;
}
@mixin box_shadow($shadow: rgba($color, $alpha)){
	-moz-box-shadow: 0 2px 3px $shadow;
	-webkit-box-shadow: 0 2px 3px $shadow;
	box-shadow: 0 2px 3px $shadow;
}
@mixin anim_transicion_ease( $segundos: 0.3s ){
	transition: all $segundos ease;
	-ms-transition: all $segundos ease;
	-webkit-transition: all $segundos ease;
	-o-transition: all $segundos ease;
	-moz-transition: all $segundos ease;
}
@mixin anim_transicion_linear( $segundos: 0.3s ){
	transition: all $segundos linear;
	-ms-transition: all $segundos linear;
	-webkit-transition: all $segundos linear;
	-o-transition: all $segundos linear;
	-moz-transition: all $segundos linear;
}
.ui-btn{
	border:none;
	text-shadow:none !important;
	@include border_radius(3px);
	font-weight: normal !important;
}
.ui-content{
	margin: 0;
	padding: 0;
}
a.ui-btn{
	border:none;
	margin: 0;
}
a.ui-shadow{
	box-shadow:none;
}
//HEADER
div[data-role="header"]{
	background:#cf3e3b !important;
	border:none !important;
	height: 55px;
}
.logoapp{
	background:url(../img/logo.png) no-repeat center center;
	background-size:180px;
	height: 55px;
	width: 100%;
}
#back_portada{
	background:url(../img/ico-flecha-l.png) no-repeat center center;
	background-size:20px;
	width: 30px;
	height: 30px;
	padding:0;
	margin: 10px 0 0 -5px;
}
//top
#listado_portada li:first-child{
	margin:0;
	padding: 0;
	.imagen-lista{
		height:200px;
		position: relative;
		float:none;
		width:100%;
		overflow:hidden;
		border-radius:0;
	}
	.imagen-lista img{
		width: 100%;
		height: auto;
	}
	h4{
		padding: 30px 25px 15px 25px;
		color:white;
		font-size:22px;
		line-height: 26px;
		margin:0;
	}
	.datos-lista > span{
		width:53px;
		height:53px;
		position: absolute;
		left:30px;
		top:170px;
		margin:0;
		@include border_radius(50%);
		color:white !important;
		font-size:16px !important;
		line-height: 30px;
		text-align: center;
		@include box_shadow(rgba(0,0,0,0.5));
		span{
			display: block;
			color:white;
			font-size:11px;
			position: absolute;
			margin-top: -13px;
			width: 53px;
			text-align: center;
			text-transform:uppercase;
		}
	}
	.datos-lista{
		border:none;
		padding:0;
		float:none;
		width:100%;
	}
	.datos-lista div{
		display: none;
	}
}

//listado listado_portada
.listados{
	padding-bottom: 50px;
	li:hover, li:active{
		background:#f0f0f0;
	}
	li{
		padding: 20px 10px;
		overflow:hidden;

		.imagen-lista{
			float:left;
			width:60px;
			height:60px;
			margin-right:10px;
			overflow:hidden;
			@include border_radius(50%);
		}
		.imagen-lista img{
			height:70px;
			width:auto;
		}
		h4{
			font-size:18px;
			color:#2b4c6a;
		}
		.datos-lista > span{
			display:block;
			font-size:11px;
			color:#b4b4b4;
			margin:5px 0;
		}
		.datos-lista > span span{
			color:#b4b4b4;
		}
		.datos-lista{
			border-bottom:1px solid #dcdcdc;
			padding-bottom:10px;
			float:right;
			width:75%;
		}
		.datos-lista{
			font-size:12px;
			line-height: 16px;
			color:#282828;
		}
	}
}

//footer
div[data-role="footer"]{
	background:#f0f0f0 !important;
	border-top:1px solid #c8c8c8;
	a.ui-btn, a.ui-btn:hover, a.ui-btn:active, a.ui-btn:visited{
		float:left;
		padding:5px 0;
		width:20%;
		text-align: center;
		color:#828282;
		font-size:11px;
		height: 40px;
		line-height: 80px;
	}
	a.ico-portada{
		background:url(../img/ico-portada.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-noticias{
		background:url(../img/ico-noticias.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-articulos{
		background:url(../img/ico-articulos.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-tareas{
		background:url(../img/ico-tareas.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-info{
		background:url(../img/ico-info.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-imagenes{
		background:url(../img/ico-imagenes.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-video{
		background:url(../img/ico-video.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-audio{
		background:url(../img/ico-audio.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-compartir{
		background:url(../img/ico-compartir.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-portada.active, a.ico-portada:active{
		background:url(../img/ico-portada-a.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-noticias.active, a.ico-noticias:active{
		background:url(../img/ico-noticias-a.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-articulos.active, a.ico-articulos:active{
		background:url(../img/ico-articulos-a.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-tareas.active, a.ico-tareas:active{
		background:url(../img/ico-tareas-a.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
	a.ico-info.active, a.ico-info:active{
		background:url(../img/ico-info-a.png) no-repeat center 3px !important;
		background-size:30px !important;
	}
}
#noticia_footer{
	a.ui-btn, a.ui-btn:hover, a.ui-btn:active, a.ui-btn:visited{
		width:25%;	
	}
}
//noticia
#leer_noticia{
	h1{
		font-size:22px;
		color:#646464;
		padding: 25px;
		background:#f0f0f0;
	}
	.img-not{
		@include box_shadow(rgba(0,0,0,0.5));
		height: 200px;
		width: 95%;
		margin: 10px auto 20px auto;
		overflow:hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
	.res-not{
		width: 90%;
		font-size:13px;
		line-height: 18px;
		margin: 10px auto 20px auto;
		padding-bottom: 50px;
	}
}
#leer_noticia > span{
	width:55px;
	height:55px;
	position: absolute;
	@include border_radius(50%);
	color:white !important;
	text-align: center;
	@include box_shadow(rgba(0,0,0,0.5));
	background:#71b8f8;
	left:50%;
	line-height: 30px;
	margin:-27px 0 0 -27px;
	span{
		display: block;
		color:white;
		font-size:11px;
		position: absolute;
		margin-top: -13px;
		text-align: center;
		text-transform:uppercase;
		width: 55px;
	}
}
//GALERIA
.galeria		{list-style:none; padding:0px; margin:0px}
.galeria li	{list-style:none; padding:2px; margin:2px; border:1px solid #999; float:left}
/* imageflip CSS. Copy & Paste this to your CSS file */
#imageflippage	{background-color:#000; margin:0px; padding:0px; border:none; height:100%; width:100%}
#tadcontent		{padding:0px; margin:0px; position:relative; background:#000; height:100%; width:100%;}
#imageflipimg	{vertical-align:middle; height:100%; width:100%; z-index:98; background-position:center; background-size:contain; text-align:center; background-repeat:no-repeat }
#imagefliper	{width:100%; top:45px; bottom:0px; position:absolute; z-index:99}
#tadnavi		{position:fixed; top:0px; z-index:100; width:100%; opacity:0.7; display:none }
#tadinfo		{position:fixed; display:none; bottom:0px; width:100%; padding:5px; background-color:#333333; opacity:0.7; color:#FFFFFF; text-align:center; font-size:small; font-family:Verdana, Geneva, sans-serif}
/*#imagenes{
	background:black;
}
.galeria{
	div{
		display: none;	
		img{
		width: 100%;
		}
	}
	div:first-child{
		display:block;
	}
}*/